<p><%= course.name %> | <%= link_to "Start Course!", lesson_path(course.lessons.first) %> | <%= link_to "Details", course_path(course) %> <!--| <%= link_to "Create Lesson", new_lesson_path(:course_id => course.id) %>--></p>
