<h1>Course</h1>
<p><%= @course.name %></p>
<%= link_to "Start Course!", lesson_path(@course.lessons.first) %>
<%= render @course.lessons %>
<!--<p><%= link_to "Create Lesson", new_lesson_path(:course_id => @course.id) %></p>-->
