	<div id="push"></div>
	<div class="footer container" id="footer">
		<div class="span-18"> 
			OpenLessons.tv
		</div>
			<%= link_to image_tag("openlessons-logo.png"), about_path %>
		<div class="span-6 last"> 
			Made as part of Startup Weekent
		</div>
		
	</div>
