	<div id="push"></div>
	<div class="footer container" id="footer">
		<div class="span-18"> 
			OpenLessons.tv
		</div>
		<div class="span-6 last"> 
			Made as part of Startup Weekend Singapore 2011
		</div>
		
	</div>
