<div id="push"></div>
<div class="footer container" id="footer">
<!-- We can use Blueprint grids here -->
<div class="span-18"> 
	OpenLessons.tv
	<a href="url">Help</a>
</div>
<div class="span-6 last"> Made as part of Startup Weekent</div>
</div>