<div id="push"></div>
<div class="footer container" id="footer">
<!-- We can use Blueprint grids here -->
<div class="span-18"> 
	JVENT 
	<a href="url">Help</a>
</div>
<div class="span-6 last"> Made as a Project for CSC207</div>
</div>